# The Weather Dataset

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Next, we load the dataset.

In [8]:
df = pd.read_csv('input/weather.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
Outlook        14 non-null object
Temperature    14 non-null object
Humidity       14 non-null object
Windy          14 non-null bool
Play           14 non-null object
dtypes: bool(1), object(4)
memory usage: 534.0+ bytes

In [11]:
# Analyzing dataset structure
instance_count, attr_count = df.shape
print('Number of instances: %d' % instance_count)
print('Number of attributes: %d' % attr_count)
print('Column names: %s' %  ', '.join(df.columns))

Number of instances: 14
Number of attributes: 5
Column names: Outlook, Temperature, Humidity, Windy, Play

In [12]:
df.sample(5)

     Outlook Temperature Humidity  Windy Play
6   overcast        cool   normal   True  yes
0      sunny         hot     high  False   no
4      rainy        cool   normal  False  yes
9      rainy        mild   normal  False  yes
11  overcast        mild     high   True  yes

In [13]:
df.describe()

       Outlook Temperature Humidity  Windy Play
count       14          14       14     14   14
unique       3           3        2      2    2
top      rainy        mild   normal  False  yes
freq         5           6        7      8    9

# Encode target class

# Encode attributes

In [14]:
target = 'Class'
variables = df.columns[df.columns!=target]

In [16]:
weather_binary = df

for v in variables: